.blue_back.container
  .lil_container
      .toolbar
      .callform
        h1.screen_title
          img(src="/img/logo_3.png")
          &nbsp; #{title}
        form#submitcontact
          div.online-status
            div.online-circle(title="Online.")
            span &nbsp;<b>#{email}</b> is ready to chat at: <b>http://tincan.im<b>
          //- div(class="alert")
          //-   button(type="button", class="close", data-dismiss="alert") &times;
          //-   span No answer from friend@domain.com  &nbsp;<a href="#">Try again</a>.
          //- div(class="alert alert-success")
          //-   button(type="button", class="close", data-dismiss="alert") &times;
          //-   span Call ended with friend@domain.com  &nbsp;<a href="#">Call back</a>.
          h3.place-call Place a call to...
          fieldset
            input#contactemail(type="text", placeholder="Email address")
            button#callbtn.btn.btn-large.btn-success(type="submit", autocomplete="off", disabled) Call
        hr
        span.moz-foot This an  <a href='https://github.com/mozilla/tincan' target='_blank'>open source</a> project by <a href='https://mozilla.org' target='_blank'>Mozilla</a>.
        button(class="signout", onclick="logout()") Sign out.

div(class="callbox hidden")
  div(style="text-align: center;")
    button#end_call(class="btn btn-large btn-danger", onclick="endCurrentCall();") End call
    video(id="incomingvid", class="incomingvid", autoplay)
    video(id="outgoingvid", class="outgoingvid", autoplay, muted)
script.
  var socket = io.connect('!{server}');
  var idp_provider = '!{idp_provider}';
  var idp_protocol = '!{idp_protocol}';
  var idp_username = '!{idp_username}';
  $('body').css('overflow','hidden');
script(src="/js/main.js")
