body
	a(href="http://www.mozilla.org/", id="tabzilla")
	.blue_back.container		
		br
		br
		br
		br
		.row
			.span5
				h1.title 
					img(src="/img/logo_2.png")
					=' TinCan'
				p.lead Secure, serverless WebRTC video chat that uses Persona to sign you in.
				p.lead <strong>No Strings Attached.</strong>
				button(id="signin", class="btn btn-block persona-button orange", style="max-width:400px; font-size:23px; color:white; text-shadow:black 0 0 0; border-width:0px; line-height:1.1; margin:auto;")
					span Sign in with email
			div.span7
				img(src="/img/board.png")
			
	div(class='containerbg')
		#introducing-tincan.section.three-cross
			.container
				h1.main-header= 'Introducing TinCan!'
				h2.sub-header= 'awesome stuff is awesome'
				.span4.far-left
					img.main-img(src="/img/introducing-mozilla.png")
					h2.subheader Opensource Love
					p.main-text Mozilla is the non-profit behind the web browser Firefox.
				.span4.textcenter
					img.main-img(src="/img/introducing-persona.png")
					h2.subheader No passwords necessary
					p.main-text Persona is a cross-browser login system from Mozilla for the Web that's easy to use and easy to deploy.
				.span4.textcenter
					img.main-img(src="/img/introducing-rtc.png")
					h2.subheader Pure client to client
					p.main-text <a>WebRTC</a> is a free, open project that enables web browsers with Real-Time Communications (RTC) capabilities via simple Javascript APIs.
			br
	.container.blue_back
		.section.three-cross
				h1.main-header="How It Works"
				h2.sub-header='Three Easy Steps!'
				.span4.far-left
					img.main-img(src="/img/lil_browser_3.png")
					h2.subheader Lorem Ipsum
					p.main-text Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore</strong> magna aliqua.
				.span4.textcenter
					img.main-img(src="/img/lil_browser_3.png")
					h2.subheader Lorem Ipsum
					p.main-text Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore</strong> magna aliqua.
				.span4.textcenter
					img.main-img(src="/img/lil_browser_3.png")
					h2.subheader Lorem Ipsum
					p.main-text Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore</strong> magna aliqua.
				br
	.containerbg
		#tryitout.section
			.container
				h1.main-header="Try It Out"
				p="this ish is in ALPHA, plan accordingly"
				br
				br
				button(id="signin", class="btn btn-block persona-button orange", style="max-width:400px; font-size:23px; color:white; text-shadow:black 0 0 0; border-width:0px; line-height:1.1; margin:auto;")
					span Sign in with email
				// if you want to string two white sections together, use a pipe class between them ie: .pipe
	.blue_back.container
		br
		br
		br
		img(src="/img/logo_2.png", style="display:block;margin:0 auto;width:100px")
	script(src="/js/login.js")
	script(src='//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js')
