body
	a(href="http://www.mozilla.org/", id="tabzilla")
	.blue_back.container
		br
		br
		.row
			.span5
				h1.title
					img(src="/img/logo_3.png")
					&nbsp; #{title}
				p.lead WebRTC video chat that uses Persona to sign you in. <b>No strings attached.</b>
				button#signin.btn.btn-large.btn-success
					img(src="/img/lil_persona.png", height="25",width="32")
					=" Sign in with email"
				span(class="label label-important", style="padding:10px; margin-top:1em;") HIGHLY EXPERIMENTAL – No HTTPS, sign-in uses non-production Persona
			div.span7
				img(src="/img/board.png")


	div(class='containerbg')
		#introducing-tincan.section.three-cross
			.container
				h1.main-header Introducing #{title}!
				h2.sub-header= ''
				.span4.far-left
					img.main-img(src="/img/introducing-mozilla.png")
					h2.subheader 100% open source
					p.main-text Mozilla is the non-profit behind the web browser Firefox.<br />Browse, fork and contribute to the source on <a href="https://github.com/mozilla/tincan">Github.</a>
				.span4.textcenter
					img.main-img(src="/img/introducing-persona.png")
					h2.subheader Sign in with email
					p.main-text Mozilla Persona is a sign-in system that allows you to create an account simply by verifying any email address.
				.span4.textcenter
					img.main-img(src="/img/introducing-rtc.png")
					h2.subheader Pure client to client
					p.main-text <a href="http://www.webrtc.org/" target="_blank">WebRTC</a> is a free, open project that enables web browsers with Real-Time Communications (RTC) capabilities via simple JavaScript APIs.
				.pipe
	.containerbg
		.section.three-cross
			.container
				h1.main-header="How does it work?"
				h2.sub-header=''
				.span4.far-left
					img.main-img(src="/img/step_1.png")
					h2.subheader Log in
				.span4.textcenter
					img.main-img(src="/img/step_2.png")
					h2.subheader Invite a friend
				.span4.textcenter
					img.main-img(src="/img/step_3.png")
					h2.subheader Chat!
				.clear
				br
				br
				p.aligncenter #{title} is browser-to-browser video chat that works in the latest versions of Firefox. Tell a friend to visit this site, log in with your email and have your friend do the same, and then one of you invite the other to chat.
				br
				.pipe
	.containerbg
		#tryitout.section
			.container
				h1.main-header="Try It Out"
				p #{title} is in Alpha, proceed accordingly.
				//- if you want to string two white sections together, use a pipe class between them ie: .pipe
	.blue_back.container
		br
		br
		img(src="/img/logo_3.png", style="display:block;margin:0 auto;width:100px")
	script(src="/js/login.js")
	script(src='//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js')
